/*
-----------------
 Footer Css
-----------------
*/
.ftr-top{
  background: #232531;
  padding: 60px 0 90px;
}
.ftr-col-main .ftr-col{
  padding-right: 20px;
}
.ftr-col-main .ftr-col{
  float: left;
}
.ftr-col-1{
  width: 33%;
}
.ftr-col-2{
  width: 20%;
}
.ftr-col-3{
  width: 23%;
}
.ftr-col-4{
  width: 24%;
}
.ftr-logo a{
  display: inline-block;
  vertical-align: baseline;
  max-width: 95px;
  width: 100%;
}
.ftr-logo-dsc span,
.ftr-logo-dsc strong{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-logo-dsc strong{
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	font-weight: 700;
	display: block;
}
.ftr-logo-dsc span{
	font-size: 16px;
	line-height: 18px;
	color: #F3BA4B;
	font-weight: 400;
}
.ftr-socail-icon{
	padding-top: 40px;
}
.ftr-socail-icon ul > li{
	float: left;
	font-size: 22px;
	line-height: 24px;
	padding: 0 20px !important;
}
.ftr-socail-icon ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
}
.ftr-socail-icon ul > li:first-child{
	padding-left: 0 !important;
}
.ftr-col ul li a:hover{
	color: #fece00;
}

.ftr-col h6{
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 35px;
  margin-top: 45px;
  font-weight: 800;
}
.ftr-col h6 span{
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
.ftr-col ul li{
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	padding-bottom: 15px;
}
.ftr-col ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
}
.ftr-col ul li::before {
  content: none;
}
.ftr-col.ftr-col-3 ul li,
.ftr-col.ftr-col-4 ul li{
  position: relative;
  margin-bottom: 23px;
  font-weight: 400;
  padding-left: 36px;
}
.ftr-col-3 ul li i,
.ftr-col-4 ul li i{
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  left: 0;
  top: 0;
}
.ftr-col-3 ul li:nth-child(1) i,
.ftr-col-4 ul li:nth-child(1) i{
  top: 5px;
}
.ftr-col-3 ul li:nth-child(2) i,
.ftr-col-4 ul li:nth-child(2) i{
  top: -2px;
}
.ftr-col-3 ul li i svg,
.ftr-col-4 ul li i svg{
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.ftr-socail-icon ul > li > a:hover i svg,
.ftr-col-3 ul li a:hover i svg,
.ftr-col-4 ul li a:hover i svg{
  fill: #F3BF00!important;
}
.ftr-btm{
  padding: 55px 0 87px;
}
.ftr-btm-col-1{
  width: 39%;
  float: left;
  padding-right: 20px;
}
.ftr-btm-col-2{
  width: 40%;
  float: left;
  padding-top: 4px;
  padding-right: 20px;
}
.ftr-btm-col-3{
  width: 21%;
  float: left;
  padding-left: 20px;
}
.ftr-btm-col-1 span{
  font-size: 14px;
  line-height: 16px;
  color: #232531;
  font-weight: 300;
}
.ftr-btm-col-2 ul li{
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.ftr-btm-col-2 ul li::before{
  content: none!important
}
.ftr-btm-col-2 ul li::after {
    content: "/"!important;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #dadada;
    right: -4px;
    top: 0;
    left: auto;
}
.ftr-btm-col-2 ul li a{
  color: #232531;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
}
.ftr-btm-col-2 ul li:last-child::after{
  content: none!important;
}
.ftr-btm-col-2 ul li:first-child{
  padding-left: 0;
}
.ftr-btm-col-2 ul li:last-child{
  padding-right: 0;
}
.ftr-btm-col-3 a{
  font-size: 14px;
  line-height: 16px;
  color: #232531;
}
.ftr-btm-col-3 a:hover,
.ftr-btm-col-2 ul li a:hover{
  color: #F3BF00;
}
/*
---------------------
footer-top-sec-wrp
---------------------
*/
.footer-top-sec-wrp{
  padding-bottom: 65px;
}
.footer-top-wrp{
  padding-top: 85px;
}
.has-top-bdr{
  border-top:4px solid #F4F4F4;
}
.footer-top-lft{
  width: 61%;
  float: left;
  padding-right: 75px;
}
.footer-top-rgt{
  width: 39%;
  float: right;
}
.footer-top-lft-dsc-title{
  font-size: 36px;
  line-height: 38px;
  font-weight: 900;
  color: #232531;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.footer-top-lft-dsc{
  font-size: 16px;
  line-height: 25px;
  color: #232531;
  font-weight: 300;
}
.footer-top-lft-dsc p{
  margin-bottom: 0;
}
.footer-top-rgt-btn{
  float: right;
}
.footer-top-rgt-btn a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background: #F3BA4B;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 22px 30px 17px;
}
.footer-top-rgt-btn a:last-child{
  padding: 20px 38px 16px;
  background: #FF9839;
  margin-left: 12px;
}
.footer-top-rgt-btn a:hover{
  background:#FF9839;
}
.footer-top-rgt-btn a:last-child:hover{
  background:#F3BA4B;
}

/*
--------------------
 Responsive Css
--------------------
*/
@media(max-width: 1499px){
  .footer-top-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footer-top-lft {
      width: 56%;
      padding-right: 60px;
  }
  .footer-top-rgt {
      width: 44%;
  }
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
  .footer-top-lft {
      width: 52%;
      padding-right: 40px;
  }
  .footer-top-rgt {
      width: 48%;
  }
  .footer-top-lft-dsc-title {
      font-size: 33px;
      line-height: 35px;
  }
  .footer-top-rgt-btn a {
      padding: 22px 22px 17px;
  }
  .footer-top-rgt-btn a:last-child {
      padding: 20px 28px 16px;
  }
}

@media(max-width: 991px){
  .footer-top-lft-dsc-title {
      font-size: 30px;
      line-height: 32px;
  }
  .footer-top-wrp {
      display: block;
      padding-top: 70px;
      padding-left: 100px;
      padding-right: 100px;
  }
  .footer-top-lft {
      width: 100%;
      padding-right: 0;
      text-align: center;
      padding-bottom: 20px;
  }
  .footer-top-rgt {
      width: 100%;
  }
  .footer-top-rgt-btn {
      float: none;
      text-align: center;
  }
  
}

@media(max-width: 767px){
  .footer-top-wrp {
      padding-left: 40px;
      padding-right: 40px;
  }
  .footer-top-lft-dsc-title {
      font-size: 28px;
      line-height: 30px;
  }
}

@media(max-width: 575px){
  .footer-top-lft-dsc-title {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 15px;
  }
  .footer-top-wrp {
      padding-left: 0;
      padding-right: 0;
  }
  .footer-top-rgt-btn a:last-child,
  .footer-top-rgt-btn a {
      padding: 22px 22px 17px;
      display: block;
      max-width: 330px;
      width: 100%;
      margin: 0 auto;
  }
  .footer-top-rgt-btn a:last-child{
    margin-top: 15px;
  }
}

@media(max-width: 479px){

}

@media(max-width: 359px){

}