
.header{
	padding: 15px 65px;
}
.header-inr{
	display: flex;
	align-items: center;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 410px;
}
.logo a img{
	width: 100%;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.hdr-rgt-inr{
	display: flex;
	align-items: center;
}
.main-nav-cntlr-inr{
	display: flex;
	align-items: center;
}
.hdr-topquick-contact{
	display: flex;
	align-items: center;
}
.request-quote-btn{
	padding-left: 40px;
}
.request-quote-btn a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 9px 10px 5px;
	background: #FF9839;
	border-radius: 8px;
	width: 248px;
	min-height: 48px;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	border: 2px solid #FF9839;
}
.request-quote-btn a:hover{
	background: transparent;
	color: #FF9839;
}
.hdr-tel{
	padding-left: 40px;
	position: relative;
	display: flex;
	align-items: center;
}
.hdr-tel:before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 2px;
	height: 34px;
	background: #F8F8F8;
}
.hdr-tel a{
	color: #F3BA4B;
	font-size: 18px;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
}
.hdr-tel a:hover{
	color: #FF9839;
}
.hdr-tel a:hover svg{
	fill: #FF9839;
}
.hdr-tel a i{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-tel a span {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 2px;
    padding-left: 10px;
}
nav.main-nav{
	padding-right: 22px;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	color: #232531;
}
nav.main-nav > ul{
	
}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 20px;
	position: relative;
}
nav.main-nav > ul > li:not(:last-child):after{
	content: "";
	position: absolute;
	right: -2.5px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 5px;
	height: 5px;
	border-radius: 100% 100%;
	background: #ffce00;
}
nav.main-nav > ul > li > a{
	position: relative;
}
nav.main-nav > ul > li.current-menu-item > a:before,
nav.main-nav > ul > li:hover > a:before{
	content: "";
	position: absolute;
	left: -15px;
    top: -11px;
	background: url(../images/menu-hover.png);
	width: 19px;
	height: 20px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
    top: 100%;
    left: 0;
    min-width: 205px;
    padding: 5px 0 0 0;
    background: #fff;
    border-top: 2px solid #fff;
    z-index: 30;
    box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    border-top: 3px solid #FFCE00;
}

nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 14px;
	display: block;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
}

nav.main-nav ul.sub-menu li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #f4b406;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:before {
    height: 100%;
}
.xs-popup-menu{
	display: none;
}


@media(max-width: 1749px){
	.logo a {
	    max-width: 390px;
	}
}

@media(max-width: 1799px){
	.logo a {
	    max-width: 340px;
	}
	.request-quote-btn,
	.hdr-tel {
	    padding-left: 35px;
	}
	nav.main-nav{
		padding-right: 10px;
	}
	.request-quote-btn a{
		width: 235px;
	}
}

@media(max-width: 1699px){
	.header{
		padding-left: 20px;
		padding-right: 20px;
	}
	.request-quote-btn a {
	    width: 218px;
	    font-size: 15px;
	}
	.hdr-tel a{
		font-size: 17px;
	}
	nav.main-nav > ul > li{
		padding-left: 18px;
		padding-right: 18px;
	}
}

@media(max-width: 1599px){
	.logo a {
	    max-width: 300px;
	}
	nav.main-nav > ul > li {
	    padding-left: 15px;
	    padding-right: 15px;
	    font-size: 17px;
	}
}

@media(max-width: 1499px){
	nav.main-nav > ul > li{
		font-size: 16px;
	}
	nav.main-nav {
	    padding-right: 5px;
	}
	.request-quote-btn, .hdr-tel {
	    padding-left: 25px;
	}
	.logo a {
	    max-width: 270px;
	}
	.request-quote-btn a {
	    width: 195px;
	    font-size: 14px;
	}
	nav.main-nav > ul > li.current-menu-item > a:before, nav.main-nav > ul > li:hover > a:before {
	    left: -11px;
	    top: -11px;
	    width: 15px;
	}
}

@media(max-width: 1349px){
	.logo a {
	    max-width: 265px;
	}
	nav.main-nav > ul > li.current-menu-item > a:before, nav.main-nav > ul > li:hover > a:before{
		width: 13px;
		left: -10px;
    	top: -9px;
	}
	.hdr-tel{
		display: none;
	}
}


@media(max-width: 1299px){

}

@media(max-width: 1199px){
	nav.main-nav > ul > li{
		padding-left: 10px;
		padding-right: 10px;
	}
	nav.main-nav > ul > li:not(:last-child):after{
		width: 4px;
		height: 4px;
		right: -2px;
	}
	.request-quote-btn a {
	    width: 175px;
	    font-size: 13px;
	    min-height: 40px;
	}
	.logo a {
	    max-width: 245px;
	}
	nav.main-nav {
	    padding-right: 0;
	}
	.request-quote-btn, .hdr-tel {
	    padding-left: 10px;
	}
	nav.main-nav > ul > li {
	    font-size: 15px;
	}
	.request-quote-btn a {
	    width: 168px;
	    font-size: 12.5px;
	    min-height: 38px;
	}
	.header {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	nav.main-nav > ul {
	    padding-top: 4px;
	}
	nav.main-nav > ul > li.current-menu-item > a:before, nav.main-nav > ul > li:hover > a:before {
	    width: 12px;
	    left: -8px;
	    top: -8px;
	}

}

@media(max-width: 991px){
	body.active-scroll-off{
		overflow: hidden;
	}
	.main-nav-cntlr.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}
	.hdr-navbar{
		min-height: 30px;
		position: relative;
	}

	.main-nav-cntlr{
		position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background: #fff;
	    color: #ffffff;
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 270px;
	    width: 100%;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    display: block;
	}
	.main-nav-cntlr-inr{
		position: relative;
		padding: 60px 20px 25px 20px;
		overflow-y: scroll;
	    height: 100%;
	    position: relative;
	    width: 100%;
	    display: block;
	}
	.hdr-humberger{
		display: flex;
		align-items: center;
	}
	.menu-txt {
		padding-left: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		color: #232531;
	}

	.line-icon {
	    cursor: pointer;
	    position: relative;
	    height: 23px;
	    max-width: 50px;
	    margin-top: 9.5px;
	}
	.line-icon span {
	    height: 2px;
	    width: 12px;
	    background: #F3BA4B;
	    display: block;
	    position: absolute;
	    transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		
	}
	.line-icon span:first-child {
	    top: 0px;
	    right: 0px;
	}
	.line-icon span:nth-child(2) {
	    top: 4px;
	    right: 0px;
	}
	.line-icon span:nth-child(3) {
	    top: 8px;
	    right: 0px;
	}
	/*.line-icon.active-collapse span:first-child {
	    width: 35px;
	}
	.line-icon.active-collapse span:nth-child(2) {
	    width: 30px;
	}
	.line-icon.active-collapse span:last-child {
	    width: 25px;
	}*/

	nav.main-nav.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	.closebtn {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    clear: both;
	    max-width: 100%;
	    top: 20px;
	    right: 20px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 4px;
	    width: 100%;
	    background: #F3BA4B;
	    top: 13px;
	    display: block;
	}
	.closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	.closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
	.main-nav-inr{
		overflow-y: scroll;
		height: 100%;
		position: relative;
	}
	nav.main-nav ul li{
		display: block;
	}
	nav.main-nav > ul > li{
		margin-bottom: 10px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
	}
	nav.main-nav > ul > li > a{
		margin: 10px 0!important;
	}
	nav.main-nav > ul > li.menu-item-has-children:after,
	nav.main-nav > ul > li.menu-item-has-children:focus:after,
	nav.main-nav > ul > li > a:after{
		content: none!important;
	}

	nav.main-nav > ul > li.menu-item-has-children > a:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	/*--adjust as necessary--*/
	    color: #000;
	    font-size: 14px;
	    position: absolute;
	    top: -3px;
	    right: -15px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a.sub-menu-active:after{
		content: "\f106"!important;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu {
	    position: static;
	    display: none;
	    top: 100%;
	    left: 0;
	    min-width: auto;
	    padding: 5px 0 0 20px;
	    background: #fff;
	    border-top: 2px solid #fff;
	    z-index: 20;
	    box-shadow: none!important;
	    transform: initial!important;
	    transition: initial!important;
	    transform-origin: initial!important;
	    opacity: 1;
	    border-top: none;
	}
	
	/*extra*/
	nav.main-nav > ul > li:not(:last-child):after,
	nav.main-nav > ul > li.current-menu-item > a:before, 
	nav.main-nav > ul > li:hover > a:before{
		content: none!important;
	}
	.hdr-topquick-contact{
		padding-top: 20px;
	}
	.request-quote-btn{
		padding-left: 0;
	}
}

@media(max-width: 767px){
	.hdr-rgt{
		display: none!important;
	}
	.hdr-lft{
		width: 100%;
	}
	.logo{
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	.logo a {
	    max-width: 334px;
	}
	.header{
		padding: 7px 20px;
	}

	/*------ responsive nav ----*/
	.xs-main-nav *{
		transition: initial!important;
	}
	.xs-nav-menu-bar {
		background-color: #1A1C27;
		padding: 5px 20px;
		text-align: center;
		height: 90px;
		display: flex;
		align-items: center;
	}
	.xs-nav-menu-innr{
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.xs-ftr-tel{
		margin-left: auto;
	}
	.nav-opener {
		cursor: pointer;
		z-index: 1;
		display: flex;
		align-items: center;
	}

	.nav-opener-btn span{
		-webkit-transition:all .2s;	/* Chrome, Safari, Opera */
		-ms-transition:all .2s;	/* IE 9 */
		-moz-transition:all .2s; /* Standard syntax */
		transition:all .2s;	
	}
	.nav-opener-btn {
		position: relative;
		width: 26px;
		height: 26px;
		text-align: center;
		display: table;
		margin: 0 auto;	
	}
	.nav-opener-btn span{
		display: block;
		background: #fff;
		height: 5px;
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border-radius: 10px;
	}
	.nav-opener-btn span:nth-child(2){
		top: 10px;
	}
	.nav-opener-btn span:nth-child(3){
		top: 20px;
	}
	.xs-menu-expend span:nth-child(1){
	  position: absolute;
	  top: 44%;
	  margin-bottom: 0;
	  width: 100%;
	}
	.xs-menu-expend span:nth-child(2){
		opacity: 0;
	}
	.xs-menu-expend span:nth-child(3) {
	  position: absolute;
	  top: 9px;
	  width: 100%;
	}
	.nav-opener strong {
		font-weight: 800;
		font-size: 20px;
		line-height: 1;
		color: #FFFFFF;
		display: inline-block;
		vertical-align: baseline;
		margin: 0;
		padding-top: 2px;
		padding-left: 15px;
	}


	.xs-popup-menu{
	    display: none;
		overflow-y: scroll;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    z-index: 100;
	    background: #232531;
	    padding: 20px 0 0 0;
	    text-align: center;
	    color: #fff;

	}
	.xs-popup-menu-innr{
		overflow-y: scroll;
	}
	.xs-logo{
		padding-bottom: 32px;
	}
	.xs-logo a{
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-main-nav ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.xs-main-nav ul li a{
		color: #ffff;
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-main-nav > ul > li{
		padding: 18px 10px;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 100%;
		font-weight: 800;
	}

	.xs-main-nav > ul > li > ul.sub-menu{
		padding: 20px 0 0;
		display: none;
		font-size: 17px;
	}
	.xs-main-nav > ul > li > ul.sub-menu li{
		padding-bottom: 10px;
		font-size: 14.5px;
	}
	.xs-main-nav > ul > li > ul.sub-menu li:last-child{
		padding-bottom: 0;
	}
	.xs-main-nav > ul > li.menu-item-has-children > a{
		position: relative;
	}
	.xs-main-nav > ul > li.menu-item-has-children > a:before {
	    content: '\f107';
	    font-family: 'FontAwesome';
	    right: -20px;
	    position: absolute;
	    font-size: 18px;
	    position: absolute;
	    right: -20px;
	    color: #fff;
	}
	.xs-main-nav li.menu-item-has-children > a.sub-menu-expend:before {
	    content: "\f106";
	}
	.xs-menu-info{
		padding-bottom: 50px;
		padding-top: 30px;
	}
	.xs-menu-info a {
	    font-weight: 800;
		font-size: 16px;
		line-height: 25px;
	    color: #fff;
	    background: #FF9839;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		margin-left: auto;
		margin: auto;
		max-width: 248px;
		width: 100%;
		height: 48px
	}

	.xs-menu-close-btn-controller{
		background: #1A1C27;
		padding: 15px 0 25px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.xs-menu-close-btn-controller strong{
		display: block;
		text-transform: uppercase;
		margin: 0;
		font-size: 14px;
	}
	.fl-close-btn{
		width: 26px;
		height: 26px;
		text-align: center;
		position: relative;
		margin: 0 auto 8px;
	}
	.fl-close-btn span{
		display: block;
		background-color: #ffffff;
		height: 3px;
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(40deg);
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
	}
	.fl-close-btn span:nth-child(2){
		opacity: 0;
	}
	.fl-close-btn span:nth-child(3) {
	  transform:rotate(-40deg);
	  -ms-transform:rotate(-40deg);
	  -webkit-transform:rotate(-40deg);
	  -o-transform:rotate(-40deg);

	}
	.xs-popup-menu-innr{
		padding-left: 20px;
		padding-right: 20px;
	}
	.pop-up-ftr-socail-icons{
		padding-top: 26px;
		padding-bottom: 30px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	.pop-up-ftr-socail-icons ul li{
		display: inline-block;
		vertical-align: baseline;
		padding: 0 20px;
	}
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}