.main-slider-section{
	position: relative;
}
.mainSlider{
	overflow: hidden;
}
.mainSlide-item-inr{
	height: 790px;
	position: relative;
}

.main-slide-fea-img{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	width: 67%;
	height: 100%;
	right: 0;
	top: 00;
	bottom: 0;
	z-index: 1;
	position: absolute;
}
.main-slide-fea-img img{
	display: none;
}


.main-slide-des{
	position: absolute;
	z-index: 2;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}
.main-slide-des-inr{
	position: relative;
	height: 100%;
}
.black-traingle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.main-slide-des-cnter-cntlr{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 95px 20px 100px;
	width: 37%;
	height: 100%;
	background: #232531;
	position: relative;
	border-bottom: 86px solid #D8A035;
}
.main-slide-des-cnter-cntlr div{
	color: #fff;
	position: relative;
	z-index: 2;
}
.msd-title{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 30px 0 20px 0;
	position: relative; 	
}
.msd-title:before{
	content: "";
	position: absolute;
	width: 57%;
	height: 8px;
	background: #fff;
	left: 0;
	top: 0;
}


.msd-sub-title{
	display: block;
	font-weight: 200;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 30px;
}
.main-slide-des-cnter-cntlr p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 30px;
}
.main-slide-btns{
	display: flex;
	align-items: center;
}

.msb-1{
	padding-right: 15px;
}
.msb-1 a{
	background: #F3BA4B;
}
.main-slide-btns a{
	width: 180px;
	min-height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 16px;
	line-height: 1;
	border: 2px solid #F3BA4B;
	border-radius: 8px;
}
.main-slide-btns .msb-2 a:hover{
	background: #F3BA4B;
}
.main-slide-btns .msb-1 a:hover{
	background: transparent;
}
.slider-features{
	position: relative;
	left: 0
}

.slider-features{
	position: absolute;
	left: 37%;
	bottom: 0;
}

.slide-date-title-area strong{
	background: #F3BA4B;
	height: 86px;
	display: flex;
	align-items: center;
	padding: 5px 50px;
	color: #fff;
}

.slide-date-title-area strong span{
	font-weight: 800;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	padding-left: 14px;
	padding-top: 5px;
}

.slider-features-cntlr{
	background: rgba(255, 255, 255, 0.93);
	height: 110px;
	padding: 10px 50px 10px 55px;
	display: flex;
	align-items: center;
}
.sfc-title{
	display: block;
	color: #000;
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
	padding-bottom: 15px;
}
.sfc-title-2{
	display: block;
	font-weight: 800;
	font-size: 44px;
	line-height: 1;
	color: #232531;
}
.slider-features-icon-cntlr,
.slide-date-title-area{
	display: flex;
	align-items: center;
}
.slider-features-icon-cntlr > div:not(:last-child){
	padding-right: 35px;
}
.slider-features-icon-cntlr > div{
	display: flex;
	align-items: center;
}
.slider-features-icon-cntlr span {
    font-size: 14px;
    line-height: 1;
    color: #000;
    padding-top: 4px;
    padding-left: 2px;
}
.slider-features-icon-cntlr > div i{
	margin-right: 5px;
}
.main-slider-prv-nxt{
	position: absolute;
	left: 61.7%;
	bottom: 28px;
	z-index: 20;
}
.msprev{
	margin-right: 40px;
}
.msprev:hover i svg,
.msnxt:hover i svg{
	fill: #D8A035!important;
}
.main-slider-prv-nxt span{
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;
}
.hm-cat-boxes-sec-cntlr ul{
	margin: 0 -12px;
}
.hm-cat-boxes-sec-cntlr ul li{
	float: left;
	width: 50%;
	padding: 0 12px 24px;
}
.hm-cat-boxes-section{
	padding: 120px 0 84px;
}


.hm-tweedehands-sec-hdr{
	margin: 0 auto;
	max-width: 950px;
	width: 100%;
	padding-bottom: 35px;
	text-align: center;
}
.hmts-hdr-title{
	display: block;
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}


.renault-wieze-sec{
	padding: 120px 0 120px 0;
}

.renault-wieze-sec-cntlr{
	display: flex;
	align-items: center;
}
.renault-wieze-sec-fea-img-cntlr{
	width: 45%;
	height: 650px;
	position: relative;
}
.renault-wieze-sec-fea-img-cntlr span{
	width: 221px;
	height: 231px;
	border: 10px solid #FFCE00;
	position: absolute;
	z-index: 1;
	right: -57px;
	bottom: -50px;
}
.renault-wieze-sec-fea-img{
	position: relative;
	z-index: 2;
}

.renault-wieze-sec-des{
	width: 55%;
	padding: 10px 105px 10px 115px;
}

.renault-wieze-sec-fea-img{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}

.renault-wieze-sec-des a{
	width: 180px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    border: 2px solid #F3BA4B;
    border-radius: 8px;
    background: #F3BA4B;
}
.renault-wieze-sec-des a:hover{
	background: transparent;
	color: #F3BA4B;
}

.rwsd-title{
	display: block;
	padding: 0;
	margin: 0 0 20px 0;
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	text-transform: uppercase;
}
.rwsd-sub-title{
	display: block;
	font-weight: 200;
	font-size: 36px;
	line-height: 1;
	margin: 0;
	padding: 0 0 40px 0;
}
.renault-wieze-sec-des p{
	margin-bottom: 35px;
	line-height: 28px;
}


.hmAboutUsSecSlider .slick-current{
	opacity: 1;
}







.hm-about-us-section{
	margin-bottom: 120px;
}
.about-us-sec-cntlr{
	background: #232531;
	color: #fff;
	padding-top: 42px;
	padding-bottom: 42px;
}
.fl-aboutUsSlider{
	margin-bottom: 0!important;
}
.fl-aboutUsSlider .slick-active:last-child .fl-about-us-item:after{
	content: none;
}
.fl-about-us-item{
	text-align: center;
	color: #fff;
	padding: 35px 80px 20px;
	position: relative;
}
.fl-about-us-item:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background: #FFCE00;
}

.about-us-item-icon{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-us-item-icon img{
	display: inline-block;
	vertical-align: baseline;
}
.aui-title{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	line-height: 1;
	font-weight: 800;
	margin: 0 0 10px 0!important;
	color: #fff;
}

.fl-about-us-item p{
	margin-bottom: 0;
	font-size: 16px;
	line-height: 25px;
}

.hm-tweedehands-section{
	padding-bottom: 120px;
}
.hm-verkoop-section{
	background: linear-gradient(360deg, #F4F4F4 0%, rgba(248, 248, 248, 0.45) 28.96%);
	padding: 115px 0 120px;
}
.hm-verkoop-sec-hdr{
	text-align: center;
	max-width: 950px;
	width: 100%;
	padding-bottom: 20px;
	margin: 0 auto;
}
.hmvshdr-title{
	display: block;
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}
.hm-verkoop-sec-hdr p{
	line-height: 28px;
}
.hm-verkoop-filters-tabs{
    text-align: center;
    padding-bottom: 70px;
}

.hm-verkoop-filters-tabs button {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    margin: 0 30px;
    background: transparent;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    color: #232531;
    position: relative;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    padding-bottom: 7px;
}
.hm-verkoop-filters-tabs button:not(:last-child):before {
    content: "";
    position: absolute;
    top: 6px;
    right: -32px;
    width: 4px;
    height: 4px;
    background: #ffce00;
    border-radius: 100% 100%;
}


.hm-verkoop-filters-tabs button:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 3px;
    background: #F3BA4B;
    opacity: 0;
}
.hm-verkoop-filters-tabs button:hover:after, 
.hm-verkoop-filters-tabs button.current:after {
    opacity: 1;
}

.hmVerkoopSlider{
	margin: 0!important;
}
.hmVerkoopSlider .slick-prev,
.hmVerkoopSlider .slick-next{
	width: 17px;
	height: 28px;
	background-size: 100% auto;
	cursor: pointer;
	z-index: 20;
	opacity: 1;
}
.hmVerkoopSlider .slick-prev{
	left: -50px;
	background: url(../images/prev-arrow-gray.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.hmVerkoopSlider .slick-next{
	right: -50px;
	background: url(../images/next-arrow-gray.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.hmVerkoopSlider .slick-prev:before,
.hmVerkoopSlider .slick-next:before{
	content: none;
}
.hmVerkoopSlider .slick-prev:hover{
	background: url(../images/prev-arrow-gray-hover.svg);
}
.hmVerkoopSlider .slick-next:hover{
	background: url(../images/next-arrow-gray-hover.svg);
}


.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}
.fl-pro-more-btn{
	padding-top: 50px;
}
.fl-pro-more-btn a {
    max-width: 330px;
    width: 100%;
    padding: 5px 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3BA4B;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 11px;
    border: 2px solid #F3BA4B;
}
.fl-pro-more-btn a:hover{
	background: transparent;
	color: #F3BA4B;
}

.hmVerkoopSlider .hmVerkoopSlideItem{
	width: 33.3333%;
}


@media(max-width: 1849px){
	.main-slide-des-cnter-cntlr{
		padding: 20px 65px 20px 70px;
	}
}
@media(max-width: 1799px){
	.main-slide-des-cnter-cntlr{
		padding: 20px 45px 20px 40px;
	}
}
@media(max-width: 1699px){
	.msd-title{
		font-size: 52px;
	}
	.msd-sub-title{
		font-size: 32px;
	}
}


@media(max-width: 1599px){
	.main-slider-prv-nxt{
		left: 66%;
	}
}


@media(max-width: 1499px){
	.hm-about-us-section {
	    margin-bottom: 80px;
	}
	.rwsd-title{
		font-size: 49px;
	}
	.rwsd-sub-title{
		font-size: 31px;
	}
	.msd-title {
	    font-size: 47px;
	    padding-bottom: 15px;
	}
	.msd-sub-title {
	    font-size: 27px;
	}
	.main-slider-prv-nxt{
		left: 66%;
	}
}

@media(max-width: 1399px){
	.hm-about-us-section {
	    margin-bottom: 70px;
	}
	.msd-title{
		font-size: 41px;
	}
	.msd-sub-title {
	    font-size: 25px;
	}
	.main-slider-prv-nxt{
		left: 69%;
	}
}

@media(max-width: 1339px){
	.hmVerkoopSlider .slick-prev{
		left: 0;
	}
	.hmVerkoopSlider .slick-next{
		right: 0;
	}
}


@media(max-width: 1299px){
	.main-slider-prv-nxt {
	    left: auto;
	    right: 20px;
	}
}

@media(max-width: 1199px){
	.hm-about-us-section {
	    margin-bottom: 50px;
	}
	.fl-about-us-item{
		padding-left: 20px;
		padding-right: 20px;
	}
	.hmAboutUsSecSlider.slick-slider .slick-dots li,
	.dftAboutUsSecSlider.slick-slider .slick-dots li{
		background:  rgba(255, 255, 255, 0.11)!important;
	}
	.hmAboutUsSecSlider.slick-slider .slick-dots li.slick-active,
	.dftAboutUsSecSlider.slick-slider .slick-dots li.slick-active{
		background: #F3BA4B!important;
	}
	.hmAboutUsSecSlider.slick-slider ul.slick-dots,
	.dftAboutUsSecSlider.slick-slider ul.slick-dots{
		margin-top: 45px;
	}
	.about-us-sec-cntlr{
		padding-bottom: 20px;
	}
	.renault-wieze-sec-fea-img-cntlr span{
		width: 180px;
		height: 180px;
		right: -45px;
    	bottom: -40px;
	}
	.renault-wieze-sec-des{
		padding-right: 0;
	}
	.rwsd-title {
	    font-size: 40px;
	    margin-bottom: 15px;
	}
	.rwsd-sub-title {
	    font-size: 27px;
	    padding-bottom: 30px;
	}
	.renault-wieze-sec-des p{
		margin-bottom: 22px;
	}
	.renault-wieze-sec-fea-img-cntlr{
		width: 50%;
	}
	.renault-wieze-sec-des{
		width: 50%;
		padding-left: 90px;
	}
	.renault-wieze-sec-fea-img-cntlr span{
		border-width: 7px;
		width: 150px;
    	height: 150px;
    	right: -35px;
    	bottom: -31px;
	}
	.renault-wieze-sec-fea-img-cntlr{
		height: 600px;
	}
	.hm-verkoop-section{
		padding: 70px 0 80px
	}
	.main-slide-des-cnter-cntlr{
		width: 43%;
	}
	.slider-features{
		left: 43%;
	}
	.mainSlide-item-inr{
		height: 670px;
	}
	.hm-cat-boxes-section {
	    padding: 80px 0 64px;
	}
}

@media(max-width: 991px){
	.hmAboutUsSecSlider .slick-active + .slick-active .fl-about-us-item:after{
		content: none;
	}
	.renault-wieze-sec-cntlr{
		display: block;
	}
	.renault-wieze-sec-fea-img-cntlr{
		max-width: 670px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}
	.renault-wieze-sec-des{
		width: 100%;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.renault-wieze-sec{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.main-slide-des-cnter-cntlr {
	    width: 45%;
	}
	.slider-features{
		left: 45%;
	}
	.slider-features-cntlr{
		padding-left: 20px;
		padding-right: 20px;
	}
	.sfc-title{
		font-size: 20px;
	}
	.slider-features-icon-cntlr > div:not(:last-child) {
	    padding-right: 20px;
	}
	.slide-date-title-area strong{
		padding-left: 20px;
		padding-right: 20px;
	}
	.sfc-title-2{
		font-size: 36px;
	}
	.main-slide-des-cnter-cntlr{
		padding-left: 20px;
		padding-right: 20px;
	}
	.msd-title {
	    font-size: 32px;
	}
	.msd-sub-title {
	    font-size: 22px;
	}
	.main-slide-btns{
		display: block;
	}
	.msb-1{
		margin-bottom: 15px;
	}
	.main-slide-des-cnter-cntlr p{
		font-size: 17px;
	}
	.hm-tweedehands-section {
	    padding-bottom: 80px;
	}
	.hmvshdr-title,
	.hmts-hdr-title{
		font-size: 32px;
	}

}

@media(max-width: 830px){
	.renault-wieze-sec-fea-img-cntlr{
		max-width: 600px;
		margin-bottom: 80px;
	}
}

@media(max-width: 767px){
	.renault-wieze-sec-fea-img-cntlr{
		max-width: 450px;
		height: 450px;
	}
	.renault-wieze-sec-fea-img-cntlr span{
		right: -20px;
		bottom: -20px;
	}
	.main-slide-fea-img,
	.slider-features{
		display: none;
	}
	.main-slide-des-cnter-cntlr{
		width: 100%;
		text-align: center;
		border: none;
	}
	.msd-title:before{
		content: none;
	}
	.main-slide-btns{
		display: flex;
		justify-content: center;
	}
	.msb-1 {
	    margin-bottom: 0;
	}
	.main-slide-des-cnter-cntlr p{
		max-width: 500px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.main-slider-prv-nxt{
		display: none;
	}
	.main-slide-des{
		position: relative;
	}
	.msd-title{
		padding-top: 0;
	}
	.mainSlide-item-inr{
		height: auto;
	}
	.main-slide-des-cnter-cntlr{
		padding: 105px 20px 140px;
	}
	.black-traingle{
		top: 47%;
	}
	.hm-cat-boxes-sec-cntlr ul{
		margin: 0;
	}
	.hm-cat-boxes-sec-cntlr ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.hm-cat-boxes-section{
		padding-top: 0;
		margin-top: -50px;
		position: relative;
		z-index: 30;
	}
	.black-traingle{
		max-width: 300px;
	}
	.dft-renault-item-des{
		padding-right: 20px;
		padding-left: 20px;
	}
	.hm-tweedehands-sec-hdr{
		padding-top: 50px;
		border-top: 2px solid #f0f0f0;
	}
	.hm-cat-boxes-section{
		padding-bottom: 40px;
	}
	.sm-slider-con-sec-inr h3{
		text-transform: uppercase;
		font-weight: 900;
		font-size: 26px;
		line-height: 1;
		display: block;
		margin: 0 0 15px 0;
		text-align: center;
	}
	.sm-slider-con-sec-inr{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 45px;
	}
	.sm-slider-con-sec-fea-img{
		padding-bottom: 25px;
	}
	.sm-slider-con-sec-fea-img img{
		width: 100%;
	}
	.slider-features-cntlr{
		padding: 0 0 0;
		display: block;

	}
	.slide-date-title-area{
		display: block;
	}
	.sfc-title{
		border-bottom: 2px solid #f9f9f9;
	}
	.slide-date-title-area strong{
		width: 100%;
		height: 64px;
		justify-content: center;
	}
	.slider-features-icon-cntlr{
		display: block;
		padding-top: 20px;
	}
	.slider-features-icon-cntlr > div{
		float: left;
		width: 50%;
		margin-bottom: 15px;
	}
	.rn-grid-sec{
		margin-bottom: 0!important;
	}
	.hmvshdr-title,
	.hmts-hdr-title{
		font-size: 30px;
	}
	.hm-verkoop-filters-tabs {
	    padding-bottom: 50px;
	}
}
@media(max-width: 639px){
	.fl-about-us-item:after{
		content: none!important;
	}
	.hm-about-us-section{
		position: relative;
	}
	.hm-about-us-section:after{
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		width: 120px;
		height: 65px;
		background: #C4C4C4; 
	}
	.home .footer-top-wrp{
		padding-top: 20px;
	}
	.hmAboutUsSecSlider{
		margin-bottom: 0!important;
	}
	.about-us-sec-cntlr{
		padding-bottom: 25px;
	}
	.hmAboutUsSecSlider.slick-slider ul.slick-dots,
	.dftAboutUsSecSlider.slick-slider ul.slick-dots{
		padding-top: 20px!important;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		list-style: initial;
		padding-left: 0;
		padding-right: 0;
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
		height: auto;
	}
	.hmts-hdr-title{
		font-size: 32px;
	}
	.fl-about-us-item{
		padding-bottom: 2px;
	}

}


@media(max-width: 575px){
	.renault-wieze-sec-fea-img-cntlr span{
		border-right: none;
		border-width: 10px;
		bottom: -50px;
	}
	.renault-wieze-sec-fea-img-cntlr{
		max-width: 100%;
		margin-bottom: 90px;
	}
	.rwsd-title {
	    font-size: 36px;
	    margin-bottom: 10px;
	}
	.rwsd-sub-title {
	    font-size: 30px;
	    padding-bottom: 20px;
	}
	.renault-wieze-sec-des p{
		margin-bottom: 30px;
	}
	.main-slide-btns a{
		width: 160px;
		height: 48px;
	}
	.hm-cat-boxes-section{
		padding-bottom: 20px;
	}
	.hmts-hdr-title {
	    font-size: 26px;
	}
	.hm-tweedehands-sec-hdr{
		padding-bottom: 5px;
	}
	.msd-title {
	    font-size: 31px;
	}
	.msd-sub-title {
	    font-size: 21px;
	}
	.main-slide-des-cnter-cntlr p{
		font-size: 16px;
		line-height: 25px;
	}
	.hmvshdr-title,
	.hmts-hdr-title{
		font-size: 26px;
	}
	.hm-verkoop-filters-tabs {
	    padding-bottom: 40px;
	}
	.hm-verkoop-section{
		padding: 50px 0 45px;
	}
	.hmVerkoopSlider .slick-prev, .hmVerkoopSlider .slick-next{
		transform: initial;
		top: auto;
		bottom: -9px;
	}
	
}


@media(max-width: 479px){
	.renault-wieze-sec-fea-img-cntlr{
		height: 317px;
	}
		

}

@media(max-width: 359px){
	.rwsd-title{
		font-size: 30px;
	}
	.rwsd-sub-title{
		font-size: 26px;
	}
	.main-slide-btns{
		display: block;
	}
	.msb-1{
		padding-right: 0;
		padding-bottom: 15px;
	}
	.main-slide-btns a{
		margin-left: auto;
		margin-right: auto;
	}
	.slide-date-title-area strong span{
		font-size: 16px;
	}
}