/*
--------------------------
 overons-renault-wieze-sec
--------------------------
*/
.overons-renault-wieze-sec{
	padding-top: 110px;
}
.overons-renault-wieze-sec .renault-wieze-sec-des a{
	float: left;
	padding: 8px 10px 5px;
}
.overons-renault-wieze-sec .renault-wieze-sec-des a:last-child{
	background: transparent;
	color: #F3BA4B;
	width: 220px;
	margin-left: 15px;
}
.overons-renault-wieze-sec .renault-wieze-sec-des a:last-child:hover{
	background: #F3BA4B;
	color: #fff;
}
.overons-about-us-section {
    margin-bottom: 80px;
    background: #232531;
}
.overons-about-us-section .about-us-sec-cntlr{
	background: transparent;
}
.overons-about-us-section .fl-about-us-item{
	padding: 35px 75px 20px;
}
/*
-------------------------
overons-two-grid-sec-wrp
-------------------------
*/
.overons-two-grid-sec-wrp {
    min-height: 760px;
    position: relative;
    margin-bottom: 70px;
}
.overons-two-grid-sec-wrp span{
    position: absolute;
    width: 36%;
    height: 56px;
    background: #F3BA4B;
    z-index: 2;
    left: 0;
    top: 145px;
}
.overons-two-grid-rgt{
	width: 68%;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.overons-two-grid-rgt-img{
	height: 760px;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.overons-two-grid-rgt-img img{
	display: none;
}
.overons-two-grid-lft {
    float: left;
    width: 53%;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    margin-left: -40px;
}
.overons-two-grid-lft-dsc {
    padding-top: 130px;
    padding-right: 105px;
    background: #fff;
    padding-left: 40px;
}
.overons-two-grid-lft-dsc-title {
    font-size: 56px;
    line-height: 70px;
    color: #232531;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
}
.overons-two-grid-lft-dsc p{
    line-height: 28px;
    margin-bottom: 30px;
}

/*
-----------------------
overons-post-grid-sec-wrp
-----------------------
*/
.overons-post-grid-wrp{
	padding-top: 105px;
	padding-bottom: 80px;
	border-top: 4px solid #F4F4F4;
}
.overons-post-grid-head{
	max-width: 955px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	padding-bottom: 30px;
}
.overons-post-grid-head-title{
	font-size: 36px;
	line-height: 38px;
	color: #232531;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.overons-post-grid-dsc-wrp ul{
	margin: 0 -12px;
}
.overons-post-grid-dsc-wrp ul li{
	width: 33.3333%;
	float: left;
	padding: 0 12px;
}
.overons-post-grid-dsc-wrp ul li:nth-child(3n+1){
	clear: left;
}
.overons-post-grid-img-cntlr{
	position: relative;
	overflow: hidden;
}
.overons-post-grid-img{
	height: 320px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.overons-post-grid-dsc{
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
}
.overons-post-grid-dsc p{
	padding-top: 20px;
}
.overons-post-grid-dsc-title{
	font-size: 24px;
	line-height: 26px;
	color: #232531;
	font-weight: 800;
	display: block;
	margin-bottom: 10px;
}
.overons-post-grid-dsc-title a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.overons-post-grid-dsc-title a:hover{
	color:#F3BA4B !important; 
}
.overons-post-grid-dsc span{
	display:block;
	font-size: 18px;
	line-height: 20px;
	color: #F3BA4B;
	font-weight: 700;
	padding-bottom: 35px;
	border-bottom: 1px solid#e1e1e1;
}

/*
---------------------------
rw-blockcode-slider-sec-wrp
---------------------------
*/
.rw-blockcode-slider-sec-wrp{
	background:#F3BA4B;
}
.rw-blockcode-slider-wrp {
    padding-top: 65px;
    padding-bottom: 60px;
    position: relative;
}
.rw-blockcode-slide-item-dsc{
	max-width: 1115px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.rw-blockcode-slide-item-dsc i{
	display: inline-block;
	vertical-align: baseline;
}
.rw-blockcode-slide-item-dsc blockquote{
	font-size: 36px;
	line-height: 48px;
	font-weight: 200;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 20px;
	font-weight: 200;
	font-style: italic;
}
.rw-blockcode-title{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #fff;
	display: block;
}
.rw-blockcode-slider .rw-blockcode-slide-item{
	display: none;
}
.rw-blockcode-slider .rw-blockcode-slide-item:first-child{
	display: block;
}
.rw-blockcode-slider.slick-initialized .rw-blockcode-slide-item{
	display: block;
}
.rwblockcodearrows .leftArrow,
.rwblockcodearrows .rightArrow{
    display: block;
    height: 28px;
    width: 17px;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.rwblockcodearrows .leftArrow{
    position: absolute;
    left: -55px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}
.rwblockcodearrows .rightArrow{
    position: absolute;
    right: -55px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}
.rwblockcodearrows .rightArrow:hover i svg,
.rwblockcodearrows .leftArrow:hover i svg{
	fill: #000;
}

/*
------------------
 Responsive css
------------------
*/
@media(max-width: 1499px){
	.overons-two-grid-sec-wrp span {
	    top: 105px;
	}
	.overons-two-grid-lft {
	    padding-top: 160px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.overons-two-grid-lft-dsc {
	    padding-top: 50px;
	    padding-right: 70px;
	}
	.overons-two-grid-lft-dsc-title {
	    font-size: 49px;
	    line-height: 60px;
	}


}


@media(max-width: 1299px){
	.rwblockcodearrows .leftArrow {
	    left: 0;
	}
	.rwblockcodearrows .rightArrow{
		right: 0;
	}
	.rw-blockcode-slide-item-dsc {
	    max-width: 1100px;
	    width: 100%;
	}
}

@media(max-width: 1199px){
	.overons-two-grid-sec-wrp span {
	    top: 55px;
	}
	.overons-two-grid-lft {
	    padding-top: 110px;
	}
	.overons-two-grid-lft-dsc {
	    padding-top: 50px;
	    padding-right: 40px;
	}
	.overons-two-grid-lft-dsc-title {
	    font-size: 52px;
	    line-height:64px;
	}
	.overons-post-grid-head-title {
	    font-size: 34px;
	    line-height: 36px;
	}
	.overons-post-grid-wrp {
	    padding-top: 90px;
	    padding-bottom: 70px;
	}
	.rw-blockcode-slide-item-dsc {
	    max-width: 1100px;
	    width: 100%;
	    padding-left: 35px;
	    padding-right: 35px;
	}
	.rw-blockcode-slide-item-dsc blockquote {
	    font-size: 34px;
	    line-height: 44px;
	}
	.overons-renault-wieze-sec .renault-wieze-sec-des a:last-child {
	    width: 195px;
	}
	.overons-renault-wieze-sec {
	    padding-top: 90px;
	}
	.overons-about-us-section .fl-about-us-item {
	    padding: 35px 20px 20px;
	}
}

@media(max-width: 991px){
	.overons-two-grid-sec-wrp {
	    min-height: auto;
	    margin-bottom: 40px;
	}
	.overons-two-grid-lft-dsc-title {
	    font-size: 46px;
	    line-height:58px;
	}
	.overons-two-grid-lft {
	    padding-top: 60px;
	    width: 100%;
	    display: block;
	    margin-left: 0;
	}
	.overons-two-grid-rgt {
	    width: 100%;
	    float: right;
	    position: static;
	}
	.overons-two-grid-lft-dsc {
	    padding-top: 0;
	    padding-right: 0;
	    padding-left: 0;
	}
	.overons-two-grid-sec-wrp span {
	    display: none;
	}
	.overons-two-grid-rgt-img{
		background: transparent !important;
		height: auto;
	}
	.overons-two-grid-rgt-img img{
		display: block !important;
	}
	.overons-two-grid-lft-dsc p {
	    margin-bottom: 20px;
	}
	.overons-post-grid-head-title {
	    font-size: 32px;
	    line-height: 34px;
	}
	.overons-post-grid-wrp {
	    padding-top: 60px;
	    padding-bottom: 40px;
	}
	.overons-post-grid-dsc-wrp ul li {
	    width: 50%;
	    padding-bottom: 10px;
	}
	.overons-post-grid-dsc-wrp ul li:nth-child(3n+1) {
	    clear: none;
	}
	.overons-post-grid-dsc-wrp ul li:nth-child(2n+1) {
	    clear: left;
	}
	.overons-post-grid-head {
	    padding-bottom: 20px;
	}
	.rw-blockcode-slider-wrp {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.rw-blockcode-slide-item-dsc blockquote {
	    font-size: 32px;
	    line-height: 42px;
	}
}

@media(max-width: 767px){
	.overons-two-grid-lft-dsc-title {
	    font-size: 44px;
	    line-height:56px;
	}
	.overons-post-grid-head-title {
	    font-size: 30px;
	    line-height: 32px;
	}
	.rw-blockcode-slide-item-dsc blockquote {
	    font-size: 30px;
	    line-height: 40px;
	}
	.overons-renault-wieze-sec {
	    padding-top: 70px;
	}
	.rwblockcodearrows .leftArrow {
	    left: 0;
	    top: auto;
	    bottom: 50px;
	    transform: none;
	}
	.rwblockcodearrows .rightArrow {
	    right: 0;
	    top: auto;
	    bottom: 50px;
	    transform: none;
	}
	.rw-blockcode-slide-item-dsc {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.rw-blockcode-slider.slick-dotted.slick-slider {
	    margin-bottom: 20px;
	}
	.rw-blockcode-slider.slick-slider ul.slick-dots {
	    padding: 32px 20px 0 !important;
	}
	.rw-blockcode-slider.slick-slider .slick-dots li.slick-active {
	    background: #000!important;
	}
}
@media(max-width: 639px){
	.rw-blockcode-slider-sec-wrp {
	    margin-bottom: 20px;
	}
	.overons-about-us-section .fl-about-us-item {
	    padding: 35px 20px 2px;
	}
}

@media(max-width: 575px){
	.overons-two-grid-lft-dsc-title {
	    font-size: 40px;
	    line-height:50px;
	}
	.overons-post-grid-head-title {
	    font-size: 28px;
	    line-height: 30px;
	}
	.overons-post-grid-dsc-wrp ul li {
	    width: 100%;
	    padding-bottom: 10px;
	}
	.overons-post-grid-dsc-wrp ul li:nth-child(3n+1) {
	    clear: none;
	}
	.overons-post-grid-dsc-wrp ul li:nth-child(2n+1) {
	    clear: none;
	}
	.overons-post-grid-dsc {
	    padding-top: 30px;
	}
	.overons-post-grid-dsc span{
		padding-bottom: 25px;
	}
	.rw-blockcode-slide-item-dsc blockquote {
	    font-size: 28px;
	    line-height: 38px;
	}
	.rw-blockcode-slide-item-dsc {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.overons-post-grid-dsc-inr{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	.overons-renault-wieze-sec .renault-wieze-sec-des a:last-child {
	    width: 100%;
	    max-width: 328px;
	    margin-top: 20px;
	    margin-left: 0;
	}
	.rw-blockcode-slide-item-dsc {
	    padding-left: 15px;
	    padding-right: 15px;
	}

}

@media(max-width: 479px){
	.overons-two-grid-lft-dsc-title {
	    font-size: 30px;
	    line-height:39px;
	}
	.overons-post-grid-head-title {
	    font-size: 26px;
	    line-height: 28px;
	}
	.rw-blockcode-slide-item-dsc blockquote {
	    font-size: 26px;
	    line-height: 36px;
	}
		

}

@media(max-width: 359px){
}