.tweedehands-overview-entry-hdr{
	padding: 75px 0 20px;
	text-align: center;
}
.tweedehands-overview-filters-tabs ul{
	text-align: center;
	padding-bottom: 40px;
} 
.tweedehands-overview-filters-tabs ul li{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	padding: 0 25px;
	position: relative;
}
.tweedehands-overview-filters-tabs ul li:not(:last-child):after{
	content: "";
	position: absolute;
	top: 6px;
	right: -2.5px;
	width: 5px;
	height: 5px;
	background: #ffce00;
	border-radius: 100% 100%;
}
.tweedehands-overview-filters-tabs ul li a{
	font-weight: 800;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	color: #232531;
	display: inline-block;
	vertical-align:baseline;
	padding: 0 0 10px 0;
	position: relative;
}
.tweedehands-overview-filters-tabs ul li a:after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 55%;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	height: 3px;
	background: #F3BA4B;
	opacity: 0;
}
.tweedehands-overview-filters-tabs ul li a:hover:after,
.tweedehands-overview-filters-tabs ul li.active a:after{
	opacity: 1;
}
.to-entry-hdr-cntlr{
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
}
.toeh-title{
	display: block;
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 25px 0; 
}


.fl-pagi-cntlr{
	background: #F8F8F8;
	padding: 40px 20px 30px;
	text-align: center;
}
.fl-pagi-cntlr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px 10px;
	margin: 0;
}
.fl-pagi-cntlr ul li a,
.fl-pagi-cntlr ul li span{
	color: #232531;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: 8px;
	font-weight: 800;
	font-size: 20px;
	line-height: 1;
	padding-top: 4px;
}

.fl-pagi-cntlr ul li:hover a,
.fl-pagi-cntlr ul li span.current{
	border-color: #F3BA4B;
}


.tweedehands-overview-form-sec{
	padding-bottom: 95px;
	padding-top: 270px;
	background-position: center bottom!important;
	background-repeat: repeat-x!important;
}

.tweedehands-overview-form-cntlr .contact-form-wrp{
	max-width: 904px;
	width: 100%;
	float: none;
	margin: -192px auto 0;
}

.tweedehands-overview-form-hdr{
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
}
.tofh-title{
	display: block;
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

.tweedehands-overview-form-hdr p{
	line-height: 28px;
}
.tweedehands-overview-filters-cntlr{
	margin: 0 -12px;
}
.fl-filters-col{
	float: left;
	width: 16.6666%;
	padding: 0 12px 24px;
}

.fl-filters-col .fl-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%!important;
    min-width: auto!important;
}

.fl-filters-col .fl-select .bootstrap-select>.dropdown-toggle{
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	min-height: 56px;
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px
}
.fl-filters-col .bootstrap-select .dropdown-toggle .filter-option{
	display: flex;
	align-items: center;
}

.fl-filters-col label{
	display: block;
	margin: 0 0 7px 0;
	font-weight: 800;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
}
.filters-border{
	padding-top: 45px;
	padding-bottom: 16px;
	border-top: 4px solid #F4F4F4;
	border-bottom: 4px solid #F4F4F4;
	margin-bottom: 47px;
}

.fl-filter-btn a{
	background: #F3BA4B;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 16px;
	line-height: 1;
	border: 2px solid #F3BA4B;
	padding: 8px 10px 5px;
	min-height: 56px;
}
.fl-filter-btn a:hover{
	background: transparent;
	color: #F3BA4B;
}
.fl-filter-btn{
	margin-top: 22px;
}
.tweedehands-overview-products{
	padding-bottom: 22px;
}
.tweedehands-overview-products ul{
	margin: 0 -12px;
}
.tweedehands-overview-products ul li{
	float: left;
	width: 25%;
	padding: 0 0 48px;
}
.tweedehands-overview-products ul li:nth-child(4n+1){
	clear: left;
}
.tweedehands-overview-products ul li .rn-grid-item{
	width: 100%;
}

.tweedehands-overview-products .rn-grid-item-hdr{
	padding-right: 20px;
}

.rn-grid-item-img img{
	display: none;
}

@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.fl-filters-col{
		width: 20%;
	}
	.fl-filters-col.fl-filters-col-btn{
		width: 100%;
	}
	.fl-filter-btn a{
		max-width: 220px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.tweedehands-overview-products ul li{
		width: 33.3333%;
	}
	.tweedehands-overview-products ul li:nth-child(4n+1){
		clear: initial;
	}
	.tweedehands-overview-products ul li:nth-child(3n+1){
		clear: left;
	}
	.tofh-title {
	    font-size: 34px;
	}

}

@media(max-width: 991px){
	.fl-filters-col{
		width: 33.3333%!important;
	}
	.fl-filter-btn a{
		max-width: 100%;
	}
	.tweedehands-overview-products ul li:nth-child(3n+1){
		clear: initial;
	}
	.tweedehands-overview-products ul li:nth-child(2n+1){
		clear: left;
	}
	.tweedehands-overview-products ul li{
		width: 50%;
	}
	.tweedehands-overview-form-sec{
		background: transparent!important;
		padding-top: 70px;
	}
	.tweedehands-overview-form-cntlr .contact-form-wrp{
		margin-top: 0;
	}
	.tofh-title {
	    font-size: 32px;
	}

	
}

@media(max-width: 767px){
	.filters-border{
		border-bottom: none;
	}
	.sm-filter-btn{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin: auto;
		display: flex;
		align-items: center;
		height: 56px;
		background: #F3BA4B;
		border-radius: 8px;
		padding: 20px 15px 10px;
		color: #fff;
		margin-bottom: 30px;
		cursor: pointer;
	}
	.sm-filter-btn span{
		font-weight: 800;
		font-size: 16px;
		line-height: 1;
		padding-left: 8px;
	}
	.tweedehands-overview-filters-cntlr{
		display: none;
	}
	.filters-border{
		margin-bottom: 0;
	}
	.tofh-title {
	    font-size: 30px;
	}

}

@media(max-width: 639px){
	.fl-filters-col {
	    width: 50%!important;
	}
	.tweedehands-overview-products ul li{
		width: 100%;
	}
	.tweedehands-overview-products ul li .rn-grid-item-img{
		background: transparent!important;
		min-height: auto;
		height: auto;
		max-width: 100%;
	}
	.rn-grid-item-img img{
		display: block;
		width: 100%;
	}
	.tweedehands-overview-products ul{
		margin: 0;
	}
	.tweedehands-overview-products ul li .rn-grid-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
	.tweedehands-overview-form-sec{
		padding-top: 75px;
	}
}

@media(max-width: 575px){
	.filters-border{
		padding-top: 32px;
	}
	.tweedehands-overview-filters-tabs ul li a{
		font-size: 16px;
	}
	.tweedehands-overview-filters-tabs ul{
		padding-bottom: 30px;
	}
	.toeh-title {
	    margin-bottom: 20px;
	}
	.tweedehands-overview-products ul li{
		padding-bottom: 0;
	}
	.tweedehands-overview-form-sec{
		padding-top: 45px;
	}
	.tweedehands-overview-products{
		padding-bottom: 10px;
	}
	.tofh-title {
	    font-size: 26px;
	    margin-bottom: 12px;
	}
}

@media(max-width: 479px){
	.fl-filters-col {
	    width: 100%!important;
	}
	.toeh-title {
	    margin-bottom: 17px;
	}
	.fl-pagi-cntlr ul li{
		padding-left: 12px;
		padding-right: 12px;
	}
	.tofh-title {
	    font-size: 22px;
	}

}

@media(max-width: 359px){
	.tofh-title {
	    font-size: 20px;
	}
}
