.rn-breadcrumbs-sec{
	position: relative;
}
.rn-breadcrumbs-sec-bg{
	padding-left: 33%;
}

.rn-breadcrumbs-sec-des{
	background: #232531;
	width: 37%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin-top: 22px;
	margin-bottom: 22px;
}

.rn-breadcrumbs-sec-des-inr{
	padding-left: 15%;
	padding-top: 30px;
}


.rn-breadcrumbs-sec-des-inr-title{
	color: #fff;
	display: block;
	font-size: 48px;
	line-height: 1;
	font-family: 'Overpass', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 25px;
	padding-top: 32px;
	position: relative;
}
.rn-breadcrumbs-sec-des-inr-title:before{
	content: "";
	height: 8px;
	width: 278px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.rn-breadcrumbs-sec-des-inr ul li{
	display: inline-block;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
}
.rn-breadcrumbs-sec-des-inr ul li:after{
	content: "";
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 5px;
	height: 5px;
	border-radius: 100% 100%;
	background: #ffce00;
}
.rn-breadcrumbs-sec-des-inr ul li:first-child:after{
	content: none;
}

.rn-breadcrumbs-sec-des-inr ul li.current-menu-item a:before,
.rn-breadcrumbs-sec-des-inr ul li:hover a:before{
	content: "";
	position: absolute;
	left: 0px;
    top: -11px;
	background: url(../images/menu-hover.png);
	width: 19px;
	height: 20px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}


.rn-breadcrumbs-sec-des-inr ul li a{
	color: #fff;
	font-weight: 300;
}
.rn-breadcrumbs-sec-des-inr ul li a:hover{
	color: #ffce00;
}


.rn-breadcrumbs-sec-icon{
	position: absolute;
	top: 50px;
	left: 30%;
}


.rn-backlink-sec{
	padding-top: 50px;
	padding-bottom: 55px;
}
.rn-backlink-sec-inr a{
	color: #232531;
	padding-left: 38px;
	position: relative;
}
.rn-backlink-sec-inr a:hover{
	color: #F3BA4B;
}
.rn-backlink-sec-inr a:hover svg{
	fill: #F3BA4B;
}
.rn-backlink-sec-inr a i{
	position: absolute;
	top: -3px;
	left: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}




.rn-td-slider-wrap{
	padding-bottom: 110px;
}
.rn-td-slider-bottom{
	padding-top: 15px;
	margin-left: -8px;
	margin-right: -8px;
}
.rn-td-slider-bottom-img{
	float: left;
	width: 20%;
	padding-left: 8px;
	padding-right: 8px;
}


.rn-td-slider-des{
	padding-top: 55px;
	padding-left: 90px;
}
.rn-td-slider-des-hdr{
	padding-left: 85px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #F1F1F1;
}
.rn-td-slider-des-hdr:before{
	content: "";
	height: 70px;
	width: 56px;
	position: absolute;
	background: url('../images/rn-td-slider-des-icon.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	top: 5px;
	left: 0;
}
.rn-td-slider-des-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}
.rn-td-slider-des-hdr span{
	font-size: 20px;
	line-height: 31px;
	color: #F3BA4B;
	font-weight: 800;
}
.rn-td-slider-des-hdr strong{
	font-size: 14px;
	line-height: 21px;
	color: #A3A3A3;
	font-style: italic;
}


.rn-td-slider-des-item ul li{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #F1F1F1;
}
.rn-td-slider-des-item-inr strong{
	float: left;
	font-size: 16px;
	font-weight: normal;
	padding-left: 48px;
	position: relative;
}
.rn-td-slider-des-item-inr span{
	float: right;
	font-size: 16px;
	font-weight: 600;
}
.rn-td-slider-des-item-inr strong.rn-td-race:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-race.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}
.rn-td-slider-des-item-inr strong.rn-td-calender:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-calender.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}
.rn-td-slider-des-item-inr strong.rn-td-gas-station:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-gas-station.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}
.rn-td-slider-des-item-inr strong.rn-td-power:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-power.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}
.rn-td-slider-des-item-inr strong.rn-td-cogwheel:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-cogwheel.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}
.rn-td-slider-des-item-inr strong.rn-td-user:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-user.svg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	top: 0;
}


.rn-td-slider-des-link{
	padding-top: 40px;
}
.rn-td-slider-des-link a{
	display: inline-block;
	color: #F3BA4B;
	font-weight: 700;
	margin-right: 40px;
}
.rn-td-slider-des-link a:first-child{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	padding: 15px 29px;
	background: #F3BA4B;
	border-radius: 8px;
	border: 2px solid #F3BA4B;
}
.rn-td-slider-des-link a:first-child:hover{
	background: transparent;
	color: #F3BA4B;
}
.rn-td-slider-des-link a:last-child{
	padding-left: 28px;
	margin-right: 0;
	position: relative;
}

.rn-td-slider-des-link a:last-child:before{
	content: "";
	height: 25px;
	width: 14px;
	position: absolute;
	background: url('../images/hdr-tel-icon.svg');
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}




.rn-td-abour-sec{
	padding-top: 125px;
	padding-bottom: 125px;
	background: linear-gradient(360deg, #F4F4F4 0%, rgba(248, 248, 248, 0.45) 28.96%);
}
.rn-td-abour-sec-details{
	float: left;
	width: 50%;
	padding-right: 12px;
}
.rn-td-abour-sec-kenmerken{
	float: right;
	width: 50%;
	padding-left: 12px;
}

.rn-td-abour-sec-details-hdr,
.rn-td-abour-sec-kenmerken-hdr{
	background: #232531;
	padding: 28px 0 28px 40px;
}
.rn-td-abour-sec-details-title,
.rn-td-abour-sec-kenmerken-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	color: #fff;
	font-weight: 800;
	text-transform: capitalize;
	margin-bottom: 0;
	padding-left: 55px;
	position: relative;
}
.rn-td-abour-sec-details-title:before{
	content: "";
	height: 28px;
	width: 32px;
	position: absolute;
	background: url('../images/rn-td-pickupcar.svg');
	background-repeat: no-repeat;
	background-size: cover;
	top: -7px;
	left: 0;
}
.rn-td-abour-sec-details-des{
	padding: 28px 40px 0 40px;
}
.rn-td-abour-sec-details-des p{
	margin-bottom: 20px;
}
.rn-td-abour-sec-details-des p:first-child{
	margin-bottom: 30px;
}
.rn-td-abour-sec-details-item{
	padding-left: 40px;
	padding-bottom: 20px;
}
.rn-td-abour-sec-details-item-left{
	float: left;
	width: 57%;
}
.rn-td-abour-sec-details-item-right{
	float: right;
	width: 43%;
}
.rn-td-abour-sec-kenmerken-item-left{
	float: left;
	width: 54%;
}
.rn-td-abour-sec-kenmerken-item-right{
	float: right;
	width: 46%;
}
.rn-td-abour-sec-details-item-left ul,
.rn-td-abour-sec-details-item-right ul,
.rn-td-abour-sec-kenmerken-item-left ul,
.rn-td-abour-sec-kenmerken-item-right ul{
	padding-left: 0;
}
.rn-td-abour-sec-details-item-left ul li,
.rn-td-abour-sec-details-item-right ul li,
.rn-td-abour-sec-kenmerken-item-left ul li,
.rn-td-abour-sec-kenmerken-item-right ul li{
	padding-bottom: 10px;
}

.rn-td-abour-sec-details-link{
	padding-left: 40px;
}
.rn-td-abour-sec-details-link a{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	padding: 11px 22px;
	background: #F3BA4B;
	border-radius: 8px;
	padding-left: 52px;
	position: relative;
	display: inline-block;
	border: 2px solid #F3BA4B;
}
.rn-td-abour-sec-details-link a:hover{
	background: transparent;
	color: #F3BA4B;
}
.rn-td-abour-sec-details-link a:hover svg{
	fill: #F3BA4B;
}
.rn-td-abour-sec-details-link a i{
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
}


.rn-td-abour-sec-kenmerken-title:before{
	content: "";
	height: 30px;
	width: 28px;
	position: absolute;
	background: url('../images/rn-td-transmission.svg');
	background-repeat: no-repeat;
	background-size: cover;
	top: -7px;
	left: 0;
}
.rn-td-abour-sec-kenmerken-item{
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.rn-td-abour-sec-kenmerken-item-left ul li:before,
.rn-td-abour-sec-kenmerken-item-right ul li:before{
	content: "";
    position: absolute;
    left: 0;
    top: 0px;
    background: url(../images/rn-td-tick.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
}
.rn-td-abour-sec-details-inr{
	background: #fff;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	padding-bottom: 28px;
}
.rn-td-abour-sec-kenmerken-inr{
	background: #fff;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
}



.rn-td-grid-sec-wrap{
	padding-top: 105px;
	padding-bottom: 100px;
}
.rn-td-grid-sec-hdr{
	text-align: center;
}
.rn-td-grid-sec-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 900;
	text-transform: uppercase;
}
.rn-td-grid-sec-hdr p{
	margin-bottom: 40px;
}


.rn-td-grid-sec{
	margin-left: -12px;
	margin-right: -12px;
}
.rn-td-grid-item{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
}
.rn-td-grid-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.rn-td-grid-item-img{
	min-height: 320px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.rn-td-grid-item:hover .rn-td-grid-item-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.rn-td-grid-item-hdr{
	padding: 30px 70px 25px 0;
	border-bottom: 1px solid #e1e1e1;
}
.rn-td-grid-item-title{
	display: block;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 800;
	margin-bottom: 18px;
	text-transform: capitalize;
}
.rn-td-grid-item-title a{
	color: #232531;
}
.rn-td-grid-item-title a:hover{
	color: #F3BA4B;
}

.rn-td-grid-item-hdr span{
	display: inline-block;
	font-size: 20px;
	color: #F3BA4B;
	font-weight: 800;
}
.rn-td-grid-item-hdr strong{
	display: inline-block;
	font-size: 14px;
	color: #A3A3A3;
	font-style: italic;
}


.rn-td-grid-item-ftr{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;
}
.rn-td-grid-item-ftr-race{
	float: left;
	width: 29.5454%;
}
.rn-td-grid-item-ftr-calender{
	float: left;
	width: 26.8181%;
}
.rn-td-grid-item-ftr-gas-station{
	float: left;
	width: 22.7272%;
}
.rn-td-grid-item-ftr-power{
	float: left;
	width: 20.9090%;
}
.rn-td-grid-item-ftr-race span,
.rn-td-grid-item-ftr-calender span,
.rn-td-grid-item-ftr-gas-station span,
.rn-td-grid-item-ftr-power span{
	padding-left: 28px;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	position: relative;
}
.rn-td-grid-item-ftr-race span:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-race.svg');
	left: 0;
	top: -5px;
}
.rn-td-grid-item-ftr-calender span:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-calender.svg');
	left: 0;
	top: -5px;
}
.rn-td-grid-item-ftr-gas-station span:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-gas-station.svg');
	left: 0;
	top: -5px;
}
.rn-td-grid-item-ftr-power span:before{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: url('../images/rn-td-power.svg');
	left: 0;
	top: -5px;
}

.rn-td-grid-item-des{
	padding-top: 25px;
}
.rn-td-grid-item-des p{
	font-size: 14px;
	margin-bottom: 22px;
}
.rn-td-grid-item-des a{
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	padding: 11px 59px;
	background: transparent;
	border: 2px solid #FF9839;
	border-radius: 8px;
	color: #F3BA4B;
}
.rn-td-grid-item-des a:hover{
	background: #FF9839;
	color: #fff;
}




.rn-td-mainslider .left-arrow,
.rn-td-mainslider .right-arrow {
	display: block;
	height: 31px;
	width: 45px;
	cursor: pointer;
	color: #D5D5D5;
	text-align: center;
	font-size: 60px;
	line-height: 40px;
}
.rn-td-mainslider .left-arrow{
	position: absolute;
	left:40px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
	background-image: url(../images/rn-td-slider-left-arrow.png);
	background-repeat: no-repeat;
	background-size: 17px 28px;
}
.rn-td-mainslider .right-arrow{
	position: absolute;
	right:10px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
	background-image: url(../images/rn-td-slider-right-arrow.png);
	background-repeat: no-repeat;
	background-size: 17px 28px;
}


.draggable{
	padding: 0px !important;
}
.slick-current{
	opacity: 0.8;
}

.rn-td-slider-wrap .rn-td-slider-item{
	display: none !important;
}
.rn-td-slider-wrap .rn-td-slider-item:first-child{
	display: block !important;
}
.rn-td-slider-wrap.slick-initialized .rn-td-slider-item{
	display: block !important;
}
