.rn-breadcrumbs-sec{
	position: relative;
}
.rn-breadcrumbs-sec-bg{
	width: 67%;
	min-height: 240px;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.rn-breadcrumbs-sec-des{
	padding-top: 22px;
	padding-bottom: 22px;
	position: static;
	
}

.rn-breadcrumbs-sec-des-inr{
	padding-top: 30px;
	height: 100%;
	position: relative;
	padding-bottom: 35px;
	width: 37%;
	background: #232531;
	padding-left: 6%;
	z-index: 12;
}


.rn-breadcrumbs-sec-des-inr-title{
	color: #fff;
	display: block;
	font-size: 48px;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 25px;
	padding-top: 32px;
	position: relative;
}
.rn-breadcrumbs-sec-des-inr-title:before{
	content: "";
	height: 8px;
	width: 278px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.rn-breadcrumbs-sec-des-inr ul li{
	display: inline-block;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
}
.rn-breadcrumbs-sec-des-inr ul li:after{
	content: "";
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 5px;
	height: 5px;
	border-radius: 100% 100%;
	background: #ffce00;
}
.rn-breadcrumbs-sec-des-inr ul li:first-child:after{
	content: none;
}

.rn-breadcrumbs-sec-des-inr ul li.active a:before,
.rn-breadcrumbs-sec-des-inr ul li:hover a:before{
	content: "";
	position: absolute;
	left: 5px;
    top: -15px;
	background: url(../images/menu-hover.png);
	width: 19px;
	height: 20px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}


.rn-breadcrumbs-sec-des-inr ul li a{
	color: #fff;
	font-weight: 300;
}
.rn-breadcrumbs-sec-des-inr ul li a:hover{
	color: #ffce00;
}


.rn-breadcrumbs-sec-icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	right: 36px;
	z-index: -1;
}


.rn-backlink-sec{
	padding-top: 50px;
	padding-bottom: 55px;
}
.rn-backlink-sec-inr a{
	color: #232531;
	padding-left: 38px;
	position: relative;
}
.rn-backlink-sec-inr a:hover{
	color: #F3BA4B;
}
.rn-backlink-sec-inr a:hover svg{
	fill: #F3BA4B;
}
.rn-backlink-sec-inr a i{
	position: absolute;
	top: -3px;
	left: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}




.rn-td-slider-wrap{
	padding-bottom: 110px;
}
.rn-td-slider-item img{
	width: 100%;
}
.rn-td-slider-bottom{
	padding-top: 15px;
	margin-left: -8px;
	margin-right: -8px;
}
.rn-td-slider-bottom-img{
	float: left;
	width: 20%;
	padding-left: 8px;
	padding-right: 8px;
}


.rn-td-slider-des{
	padding-top: 55px;
	padding-left: 90px;
}
.rn-td-slider-des-hdr{
	padding-left: 85px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #F1F1F1;
}
.rn-td-slider-des-hdr i{
	position: absolute;
	top: 0;
	left: 0;
}

.rn-td-slider-des-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}
.rn-td-slider-des-hdr strong{
	font-size: 20px;
	line-height: 31px;
	color: #F3BA4B;
	font-weight: 800;
}
.rn-td-slider-des-hdr span{
	font-size: 14px;
	line-height: 21px;
	color: #A3A3A3;
	font-style: italic;
}


.rn-td-slider-des-item ul li{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #F1F1F1;
}
.rn-td-slider-des-item-inr strong{
	float: left;
	font-size: 16px;
	font-weight: normal;
	padding-left: 48px;
	position: relative;
	padding-right: 20px;
	word-break: break-all;
}
.rn-td-slider-des-item-inr span{
	float: right;
	font-size: 16px;
	font-weight: 600;
}

.rn-td-slider-des-item-inr strong i{
	position: absolute;
	left: 0;
	top: 0;
}




.rn-td-slider-des-link{
	padding-top: 40px;
}
.rn-td-slider-des-link a{
	display: inline-block;
	color: #F3BA4B;
	font-weight: 700;
	margin-right: 40px;
	vertical-align: baseline;
}
.rn-td-slider-des-link a:first-child{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	padding: 15px 29px;
	background: #F3BA4B;
	border-radius: 8px;
	border: 2px solid #F3BA4B;
}
.rn-td-slider-des-link a:first-child:hover{
	background: transparent;
	color: #F3BA4B;
}
.rn-td-slider-des-link a:last-child{
	padding-left: 28px;
	margin-right: 0;
	position: relative;
}
.rn-td-slider-des-link a:last-child i{
	position: absolute;
	left: 0;
	top: -4px;
}

.rn-td-slider-des-link a:last-child:hover{
	color: #232531;
}
.rn-td-slider-des-link a:last-child:hover svg{
	fill: #232531;
}



.rn-td-abour-sec{
	padding-top: 125px;
	padding-bottom: 125px;
	background: linear-gradient(360deg, #F4F4F4 0%, rgba(248, 248, 248, 0.45) 28.96%);
}

.rn-td-abour-sec-details,
.rn-td-abour-sec-kenmerken{
	float: left;
	width: 50%;
}

.rn-td-abour-sec-details-hdr,
.rn-td-abour-sec-kenmerken-hdr{
	background: #232531;
	padding: 28px 0 28px 40px;
}
.rn-td-abour-sec-details-title,
.rn-td-abour-sec-kenmerken-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	color: #fff;
	font-weight: 800;
	text-transform: capitalize;
	margin-bottom: 0;
	padding-left: 55px;
	position: relative;
}
.rn-td-abour-sec-details-title i,
.rn-td-abour-sec-kenmerken-title i{
	position: absolute;
	left: 0;
	top: -5px;
}

.rn-td-abour-sec-details-des{
	padding: 28px 40px 0 40px;
}
.rn-td-abour-sec-details-des p{
	margin-bottom: 20px;
}
.rn-td-abour-sec-details-des p:first-child{
	margin-bottom: 30px;
}
.rn-td-abour-sec-details-item{
	padding-left: 40px;
	padding-bottom: 20px;
}

.rn-td-abour-sec-details-item ul,
.rn-td-abour-sec-kenmerken-item ul{
	padding-left: 0;
}
.rn-td-abour-sec-details-item ul li,
.rn-td-abour-sec-kenmerken-item ul li{
	float: left;
	width: 50%;
	padding-bottom: 10px;
	padding-right: 20px;
}
.rn-td-abour-sec-details-item ul li:nth-child(2n+1),
.rn-td-abour-sec-kenmerken-item ul li:nth-child(2n+1){
	clear: left;
}


.rn-td-abour-sec-details-link{
	padding-left: 40px;
}
.rn-td-abour-sec-details-link a{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	padding: 11px 22px;
	background: #F3BA4B;
	border-radius: 8px;
	padding-left: 52px;
	position: relative;
	display: inline-block;
	border: 2px solid #F3BA4B;
}
.rn-td-abour-sec-details-link a:hover{
	background: transparent;
	color: #F3BA4B;
}
.rn-td-abour-sec-details-link a:hover svg{
	fill: #F3BA4B;
}
.rn-td-abour-sec-details-link a i{
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
}



.rn-td-abour-sec-kenmerken-item{
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.rn-td-abour-sec-kenmerken-item ul li:before{
	content: "";
    position: absolute;
    left: 0;
    top: 0px;
    background: url(../images/rn-td-tick.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
}
.rn-td-abour-sec-details-inr{
	background: #fff;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	padding-bottom: 28px;
	margin-right: 12px;
}
.rn-td-abour-sec-kenmerken-inr{
	background: #fff;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	margin-left: 12px;
}



.rn-td-grid-sec-wrap{
	padding-top: 105px;
	padding-bottom: 100px;
}
.rn-td-grid-sec-hdr{
	text-align: center;
}
.rn-td-grid-sec-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 900;
	text-transform: uppercase;
}
.rn-td-grid-sec-hdr p{
	margin-bottom: 40px;
}


.rn-grid-sec{
	margin-left: -12px;
	margin-right: -12px;
}
.rn-grid-item{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
}
.rn-grid-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.rn-grid-item-img{
	min-height: 320px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.rn-grid-item-img img{
	display: none;
}

.rn-grid-item:hover .rn-grid-item-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.rn-grid-item-hdr{
	padding: 30px 70px 25px 0;
	border-bottom: 1px solid #e1e1e1;
}
.rn-grid-item-title{
	display: block;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 800;
	margin-bottom: 18px;
	text-transform: capitalize;
}
.rn-grid-item-title a{
	color: #232531;
}
.rn-grid-item-title a:hover{
	color: #F3BA4B;
}

.rn-grid-item-hdr strong{
	display: inline-block;
	font-size: 20px;
	color: #F3BA4B;
	font-weight: 800;
}
.rn-grid-item-hdr span{
	display: inline-block;
	font-size: 14px;
	color: #A3A3A3;
	font-style: italic;
}


.rn-grid-item-ftr{
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
}
.rn-grid-item-ftr-race{
	display: inline-block;
	padding-right: 30px;
	margin-bottom: 10px;
}
.rn-grid-item-ftr-calender{
	display: inline-block;
    padding-right: 30px;
    margin-bottom: 10px;
}
.rn-grid-item-ftr-gas-station{
	display: inline-block;
    padding-right: 30px;
    margin-bottom: 10px;
}
.rn-grid-item-ftr-power{
	display: inline-block;
    margin-bottom: 10px;
}
.rn-grid-item-ftr-race span,
.rn-grid-item-ftr-calender span,
.rn-grid-item-ftr-gas-station span,
.rn-grid-item-ftr-power span{
	padding-left: 28px;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	position: relative;
}
.rn-grid-item-ftr-race span i,
.rn-grid-item-ftr-calender span i,
.rn-grid-item-ftr-gas-station span i,
.rn-grid-item-ftr-power span i{
	position: absolute;
	top: -5px;
	left: 0;
}



.rn-grid-item-des{
	padding-top: 25px;
}
.rn-grid-item-des p{
	font-size: 14px;
	margin-bottom: 22px;
}
.rn-grid-item-des a{
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	padding: 11px 59px;
	background: transparent;
	border: 2px solid #FF9839;
	border-radius: 8px;
	color: #F3BA4B;
}
.rn-grid-item-des a:hover{
	background: #FF9839;
	color: #fff;
}



.rn-td-slider{
	position: relative;
}
.rn-td-mainslider .left-arrow,
.rn-td-mainslider .right-arrow {
	display: block;
	height: 28px;
	width: 17px;
	cursor: pointer;
	color: #D5D5D5;
	text-align: center;
}
.rn-td-mainslider .left-arrow{
	position: absolute;
	left:24px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
	background-image: url(../images/rn-td-slider-left-arrow.png);
	background-repeat: no-repeat;
	background-size: 17px 28px;
}
.rn-td-mainslider .left-arrow:hover{
	background: url('../images/rn-td-slider-left-arrow-hover.png');
	background-repeat: no-repeat;
	background-size: 17px 28px;
}
.rn-td-mainslider .right-arrow{
	position: absolute;
	right:24px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
	background-image: url(../images/rn-td-slider-right-arrow.png);
	background-repeat: no-repeat;
	background-size: 17px 28px;
	background-position: 100% 100%;
}
.rn-td-mainslider .right-arrow:hover{
	background: url('../images/rn-td-slider-right-arrow-hover.png');
	background-size: 17px 28px;
	background-repeat: no-repeat; 
}


.draggable{
	padding: 0px !important;
}
.slick-current{
	opacity: 0.8;
}

.rn-td-slider-wrap .rn-td-slider-item{
	display: none !important;
}
.rn-td-slider-wrap .rn-td-slider-item:first-child{
	display: block !important;
}
.rn-td-slider-wrap.slick-initialized .rn-td-slider-item{
	display: block !important;
}


.rn-td-brdcm{
	display: none;
}

.rn-td-brdcm{
	padding-top: 18px;
	padding-bottom: 20px;
}
.rn-td-brdcm-left{
	float: left;
}
.rn-td-brdcm-right{
	float: right;
}

.rn-td-brdcm-left a{
	color: #fff;
	padding-left: 15px;
	position: relative;
}
.rn-td-brdcm-left a:before{
	content: "";
    position: absolute;
    left: 0%;
    top: 45%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 100% 100%;
    background: #ffce00;
}
.rn-td-brdcm-right a{
	color: #fff;
	padding-left: 13px;
	position: relative;
}
.rn-td-brdcm-right a i{
	position: absolute;
	left: 0;
	top: -3px;
}
.rn-td-brdcm-left a:hover,
.rn-td-brdcm-right a:hover{
	color: #ffce00;
}
.rn-td-brdcm-right a:hover svg{
	fill: #ffce00;
}

.rn-td-slider-des-icon{
	display: none;
	text-align: center;
}

.rn-td-abour-sec-details-item-left-link{
	display: none;
}
.rn-td-abour-sec-details-item-left-link a{
	font-size: 12px;
	color: #9C9C9C;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 18px;
	position: relative;
}
.rn-td-abour-sec-details-item-left-link a i{
	position: absolute;
	top: -5px;
	right: 0;
}
.rn-td-abour-sec-details-item-left-link a:hover{
	color: #F3BA4B;
}
.rn-td-abour-sec-details-item-left-link a:hover svg{
	fill: #F3BA4B;
}




@media(max-width: 1499px){
	.rn-td-slider-des {
	    padding-left: 72px;
	}
	.rn-td-slider-des-link a {
	    margin-right: 30px;
	}
	.rn-td-slider-des-link a:first-child {
		font-size: 14px;
	    padding: 15px 25px;
	}
}

@media(max-width: 1399px){
	.rn-breadcrumbs-sec-des-inr{
	    width: 50%;
	}
	.rn-td-slider-des {
	    padding-left: 72px;
	}
	.rn-td-slider-des-link a {
	    margin-right: 30px;
	}
	.rn-td-slider-des-link a:first-child {
		font-size: 14px;
	    padding: 15px 25px;
	}
}

@media(max-width: 1299px){
	
	.rn-breadcrumbs-sec-des-inr-title {
	    font-size: 42px;
	    margin-bottom: 20px;
	}
	.rn-breadcrumbs-sec-des-inr-title:before {
	    width: 250px;
	}
	.rn-breadcrumbs-sec-des-inr ul li {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.rn-breadcrumbs-sec-des-inr ul li a {
	    font-size: 15px;
	}
	.rn-backlink-sec {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.rn-td-slider-wrap {
	    padding-bottom: 100px;
	}
	.rn-td-slider-des {
	    padding-top: 40px;
	    padding-left: 80px;
	}
	.rn-td-slider-des-hdr {
	    padding-left: 80px;
	    padding-bottom: 15px;
	}
	.rn-td-slider-des-title {
	    font-size: 32px;
	    margin-bottom: 15px;
	}
	.rn-td-slider-des-item ul li {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.rn-td-slider-des-link {
	    padding-top: 35px;
	}
	.rn-td-slider-des-link a {
	    margin-right: 30px;
	    font-size: 14px;
	}
	.rn-td-slider-des-link a:first-child {
	    font-size: 14px;
	    padding: 15px 20px;
	}
	.rn-td-abour-sec {
	    padding-top: 110px;
	    padding-bottom: 110px;
	}
	.rn-grid-sec-wrap {
	    padding-top: 90px;
	    padding-bottom: 90px;
	}
	.rn-grid-sec-hdr p {
	    margin-bottom: 32px;
	}
	.rn-grid-item-ftr {
	    padding-top: 25px;
	    padding-bottom: 25px;
	}

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.rn-breadcrumbs-sec-des-inr {
	    padding-left: 5%;
	}
	.rn-breadcrumbs-sec-des-inr-title {
	    font-size: 35px;
	    margin-bottom: 15px;
	    padding-top: 28px;
	}
	.rn-breadcrumbs-sec-des-inr-title:before {
	    width: 200px;
	}
	.rn-breadcrumbs-sec-des-inr ul li a {
	    font-size: 13px;
	}
	.rn-breadcrumbs-sec-icon img{
		height: 100px;
		width: 110px;
	}
	.rn-td-slider-wrap {
	    padding-bottom: 85px;
	}
	.rn-td-slider-des {
	    padding-top: 30px;
	    padding-left: 22px;
	}
	.rn-td-slider-des-link a {
	    margin-right: 20px;
	    
	}
	.rn-td-slider-des-link a:first-child {
	    font-size: 16px;
	    padding: 11px 10px 5px;
	    line-height: 1;
	    height: 56px;
	    width: 100%;
	    margin-right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.rn-td-slider-des-link a:last-child {
	    padding-left: 28px;
	    margin-right: 0;
	    position: relative;
	    margin-right: auto;
	    margin-left: auto;
	    display: table;
	    margin-top: 20px;
	}
	.rn-td-abour-sec {
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
	.rn-td-abour-sec-details-item ul li{
		word-break: break-all;
	}
	.rn-grid-sec-wrap {
	    padding-top: 75px;
	    padding-bottom: 75px;
	}
	.rn-grid-sec-title {
	    font-size: 30px;
	    margin-bottom: 12px;
	}
	.rn-grid-sec-hdr p {
	    margin-bottom: 25px;
	}
	.rn-grid-item-hdr {
	    padding: 25px 30px 20px 0;
	}
	.rn-grid-item-title {
	    font-size: 22px;
	    margin-bottom: 15px;
	}
	.rn-grid-item-ftr {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.rn-grid-item-ftr-race,
	.rn-grid-item-ftr-calender {
		float: left;
	    width: 50%;
	    margin-bottom: 10px;
	    padding-right: 0;
	}
	.rn-grid-item-ftr-gas-station,
	.rn-grid-item-ftr-power {
		float: left;
	    width: 50%;
	    padding-right: 0;
	}
	.rn-grid-item-ftr-gas-station{
		padding-left: 0;
	}
	.rn-grid-item-des {
	    padding-top: 20px;
	}
	.rn-breadcrumbs-sec-bg {
	    min-height: 210px;
	}
	.rn-td-abour-sec-details,
	.rn-td-abour-sec-kenmerken{
		float: none;
		width: 100%;
		padding-right: 0px;
		max-width: 650px;
		margin-right: auto;
		margin-left: auto;
	}
	.rn-td-abour-sec-kenmerken{
		margin-top: 25px;
	}
	.rn-td-abour-sec-details-inr{
		margin-right: 0;
	}
	.rn-td-abour-sec-kenmerken-inr {
		margin-left: 0;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.rn-breadcrumbs-sec-bg {
	    min-height: 200px;
	}
	.rn-breadcrumbs-sec-des-inr{
	    width: 60%;
	}
	.rn-breadcrumbs-sec-des-inr-title {
	    font-size: 30px;
	    margin-bottom: 12px;
	}
	.rn-breadcrumbs-sec-des-inr-title:before {
	    width: 175px;
	}
	.rn-breadcrumbs-sec-des-inr ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.rn-breadcrumbs-sec-des-inr ul li a {
	    font-size: 12px;
	}
	.rn-backlink-sec {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.rn-td-slider-des {
	    padding-top: 0px;
	    padding-left: 40px;
	}
	.rn-td-slider-des-hdr:before {
	    top: 0px;
	}
	.rn-td-slider-des-title {
	    font-size: 30px;
	    margin-bottom: 10px;
	}
	.rn-td-slider-des-item ul li {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.rn-td-slider-des-item-inr strong {
	    font-size: 12px;
	    padding-left: 35px;
	}
	.rn-td-slider-des-item-inr span {
	    font-size: 12px;
	}
	.rn-td-slider-des-link {
	    padding-top: 20px;
	    text-align: center;
	}
	.rn-td-slider-des-link a{
		margin-top: 20px;
	}
	.rn-td-abour-sec {
	    padding-top: 80px;
	    padding-bottom: 80px;
	}
	.rn-td-abour-sec-details {
	    padding-right: 0px;
	}
	.rn-td-abour-sec-kenmerken {
	    padding-left: 0px;
	}
	.rn-td-abour-sec-details-item ul li,
	.rn-td-abour-sec-kenmerken-item ul li{
		word-break: break-all;
		padding-left: 35px;
		font-size: 14px;
		line-height: 20px;
	}
	.rn-td-abour-sec-details-link a {
	    font-size: 14px;
	}
	.rn-grid-sec {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.rn-grid-item {
	    width: 50%;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-bottom: 35px;
	}
	.rn-grid-item-hdr {
	    padding: 20px 30px 15px 0;
	}
	.rn-grid-item-title {
	    font-size: 22px;
	    margin-bottom: 10px;
	}
	.rn-grid-item-des p {
	    line-height: 22px;
	}
	.rn-td-abour-sec-details-des p {
	    margin-bottom: 15px;
	    font-size: 15px;
	    line-height: 22px;
	}
	.rn-td-abour-sec-details-des p:first-child {
	    margin-bottom: 22px;
	}
	.rn-td-grid-sec-title {
	    font-size: 30px;
	    line-height: 1.3;
	}
	.rn-breadcrumbs-sec-des-inr ul li.active a:before, 
	.rn-breadcrumbs-sec-des-inr ul li:hover a:before {
	    top: -10px;
	    width: 15px;
	    background-size: 100% auto;
	}

	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.rn-breadcrumbs-sec-bg{
		display: none;
	}
	.rn-breadcrumbs-sec-des {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.rn-breadcrumbs-sec-des-inr {
	    width: 100%;
	}
	.rn-breadcrumbs-sec-des-inr {
	    padding: 0;
	    margin-left: 0px;
    	margin-right: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
	}
	.rn-breadcrumbs-sec-des-inr-title{
		text-align: center;
	    font-size: 36px;
	    padding-top: 40px;
	    margin-bottom: 0;
	    padding-bottom: 35px;
	    border-bottom: 1px solid rgba(255,255,255,0.04);
	    position: relative;
	    z-index: 2;
	}
	.rn-breadcrumbs-sec-des-inr-title:before {
	    width: 0;
	}
	.rn-breadcrumbs-sec-des-inr ul{
		display: none;
	}
	.rn-breadcrumbs-sec-icon{
		left: 43%;
    	top: 57px;
	}
	.rn-breadcrumbs-sec-icon img {
	    height: 90px;
	    width: 70px;
	}
	.rn-td-brdcm{
		display: block;
	}
	.rn-backlink-sec {
	    display: none;
	}
	.rn-td-slider-des-hdr i {
	    display: none;
	}
	.rn-td-slider{
		padding-top: 30px;
	}
	.rn-td-slider-des-icon{
		display: block;
	}
	.rn-td-slider-des{
		padding: 0;
		padding-top: 50px;
	}
	.rn-td-slider-des-hdr{
		padding: 0;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.rn-td-slider-des-hdr:before {
	    content: none;
	}
	.rn-td-slider-des-title {
	    font-size: 36px;
	    margin-bottom: 12px;
	}
	.rn-td-slider-des-item ul li {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.rn-td-slider-des-item-inr strong {
	    font-size: 14px;
	    padding-left: 35px;
	}
	.rn-td-slider-des-item-inr span {
	    font-size: 14px;
	}
	.rn-td-slider-des-link a:first-child {
	    font-size: 16px;
	    padding: 15px 69px;
	}
	.rn-td-slider-wrap {
	    padding-bottom: 70px;
	}
	.rn-td-abour-sec {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.rn-td-abour-sec-details {
	    padding-right: 0px;
	    width: 100%;
	    margin-bottom: 22px;
	}
	.rn-td-abour-sec-kenmerken {
	    padding-left: 0px;
	    width: 100%;
	}

}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.rn-td-slider-wrap {
	    padding-bottom: 48px;
	}
	.rn-td-abour-sec {
	    padding-top: 35px;
	    padding-bottom: 35px;
	}
	.rn-td-abour-sec-details-item-left,
	.rn-td-abour-sec-kenmerken-item-left {
	    width: 100%;
	}
	.rn-td-abour-sec-details-item-right,
	.rn-td-abour-sec-kenmerken-item-right{
		display: none;
	}
	.rn-td-abour-sec-details-item-left-link{
		display: block;
	}
	.rn-td-grid-sec-wrap {
	    padding-top: 65px;
	    padding-bottom: 59px;
	    
	}
	.rn-td-grid-sec-inr{
		max-width: 328px;
	    width: 100%;
	    margin: 0 auto;
	}
	.rn-grid-item{
		padding-left: 0;
		padding-right: 0;
	}
	.rn-grid-sec {
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.rn-td-grid-sec-title {
	    font-size: 28px;
    	line-height: 1.1;
	}
	.rn-grid-item {
	    padding-bottom: 35px;
	}
	.rn-grid-item-des a{
		padding: 9px 10px 5px;
		max-width: 328px;
		width: 100%;
		min-height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		background: #F3BA4B;
		border: 2px solid #F3BA4B;
		color: #fff;
	}
	.rn-grid-item-des a:hover{
		background: transparent;
		color: #FF9839;
	}
	.rn-td-abour-sec-details-item ul li,
	.rn-td-abour-sec-kenmerken-item ul li{
		width: 100%;
	}
	.rn-td-abour-sec-details-item ul li:nth-child(even),
	.rn-td-abour-sec-kenmerken-item ul li:nth-child(even){
		display: none;
	}
	.rn-td-abour-sec-details-inr,
	.rn-td-abour-sec-kenmerken-inr{
		max-width: 328px;
	    width: 100%;
	    margin: 0 auto;
	}
	.rn-td-abour-sec-details-hdr, 
	.rn-td-abour-sec-kenmerken-hdr,
	.rn-td-abour-sec-details-des,
	.rn-td-abour-sec-details-item,
	.rn-td-abour-sec-details-link,
	.rn-td-abour-sec-kenmerken-item{
	    padding-left: 25px;
	}
	.rn-grid-item-img{
		min-height: 240px;
	}

}

@media(max-width: 479px){
	.rn-td-slider-des-link a:first-child {
	    font-size: 13px;
	}
	.rn-td-grid-sec-title {
	    font-size: 26px;
	}
	
	.rn-td-slider-des-item-inr strong {
	    font-size: 12px;
	}
	.rn-td-slider-des-item-inr span {
	    font-size: 12px;
	}

}

@media(max-width: 359px){
	.rn-td-slider-des-link a:first-child {
	    padding: 15px 34px;
	}
	.rn-td-abour-sec-details-link a {
	    font-size: 13px;
	    padding: 11px 15px;
	    padding-left: 30px;
	}
	.rn-td-abour-sec-details-link a i {
	    left: 5px;
	}
	.rn-td-grid-sec-title {
	    font-size: 24px;
	}
	.rn-grid-item-des a {
	    padding: 11px 109px;
	}
	.rn-td-slider-des-item-inr strong {
		padding-right: 0;
		word-break: break-all;
		max-width: 160px;
	}
}
